
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */